# Author: Tiffany Seeley

Github repo:[https://github.com/tiffsea]

Project: React-Maps-UK-Housing-Prices

## Installation:

Use Anaconda Prompt command prompt/terminal from your machine to ensure you can import geocoders successfully

pip install geopy

In [1]:
#prereq libraries
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
#read-in csv file and create column headers according to UK housing site
df = pd.read_csv("pp-complete.csv", 
                 sep=',',
                 names=["Transaction_ID",
                        "Price",
                        "Transfer_Date",
                        "Postcode",
                        "Property_Type",
                        "Old_New",
                        "Duration",
                        "PAON",
                        "SAON",
                        "Street",
                        "Locality",
                        "Town_City",
                        "District",
                        "County",
                        "PPD_Category",
                        "Record_Status",
                       ]) #nrows=100

In [3]:
#create new concatenated column with selected address info
#we will use this column to attempt to call google.maps API using geopy
df['Concat_PAON_Street_Postcode'] = df['PAON'] + " " + df['Street'] + " " +  df['Postcode']

#print new column with index -first 5 rows only
df.iloc[0:5, 16:17]

                   Concat_PAON_Street_Postcode
0  VILLA PARADISO HIGHER WARBERRY ROAD TQ1 1RY
1                        6 CATKIN ROAD L26 7XJ
2                       28 ALDER ROAD BH12 2AE
3          NONSUCH COTTAGE THE STREET IP13 0DR
4         FOX COVER COTTAGE HALL LANE WS14 0BE

In [4]:
'''
we need to sort the data becuase next we will remove duplicate addresses, keeping the
first instance of the address - which after sorting will be the most current address.
we will use our newly created concatenated column as unique id.
'''
#sort date in descending order
df = df.sort_values(by='Transfer_Date',ascending=False)

#remove duplicate addresses (new concat column) but keep first instance
df.drop_duplicates(subset = 'Concat_PAON_Street_Postcode',keep = 'first',inplace = True)

#print row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

#print first 10 rows as sample
df.head(10)

data row x columns is (12466932, 17)
data row count is 12466932

,Transaction_ID,Price,Transfer_Date,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category,Record_Status,Concat_PAON_Street_Postcode
24280190,{93E6821D-ED2E-40FD-E053-6B04A8C0C1DF},230000,2019-09-27 00:00,LU7 2LD,T,N,F,61,NaN,WYNGATES,NaN,LEIGHTON BUZZARD,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,A,61 WYNGATES LU7 2LD
24535160,{93E6821E-2492-40FD-E053-6B04A8C0C1DF},406000,2019-09-27 00:00,BH14 8NS,T,N,F,69,NaN,COPELAND DRIVE,NaN,POOLE,"BOURNEMOUTH, CHRISTCHURCH AND POOLE","BOURNEMOUTH, CHRISTCHURCH AND POOLE",A,A,69 COPELAND DRIVE BH14 8NS
24390776,{93E6821E-3112-40FD-E053-6B04A8C0C1DF},109950,2019-09-27 00:00,NG16 6JS,T,N,F,62,NaN,WOODFIELD ROAD,PINXTON,NOTTINGHAM,BOLSOVER,DERBYSHIRE,A,A,62 WOODFIELD ROAD NG16 6JS
24425133,{93E6821E-6FE5-40FD-E053-6B04A8C0C1DF},87000,2019-09-27 00:00,OL4 5LF,T,N,L,21,NaN,CHATSWORTH STREET,NaN,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A,21 CHATSWORTH STREET OL4 5LF
24286060,{93E6821E-7FDA-40FD-E053-6B04A8C0C1DF},170000,2019-09-27 00:00,LE18 3LR,T,N,F,46,NaN,HERRICK WAY,NaN,WIGSTON,OADBY AND WIGSTON,LEICESTERSHIRE,A,A,46 HERRICK WAY LE18 3LR
24301949,{93E6821E-74C1-40FD-E053-6B04A8C0C1DF},117000,2019-09-27 00:00,LA4 6AY,F,N,L,LAKELAND HOUSE,FLAT 31,MARINE ROAD EAST,NaN,MORECAMBE,LANCASTER,LANCASHIRE,A,A,LAKELAND HOUSE MARINE ROAD EAST LA4 6AY
24611798,{93E6821E-EF01-40FD-E053-6B04A8C0C1DF},125000,2019-09-27 00:00,SA11 3PB,S,N,F,46,NaN,CHESTNUT ROAD,NaN,NEATH,NEATH PORT TALBOT,NEATH PORT TALBOT,A,A,46 CHESTNUT ROAD SA11 3PB
24543083,{93E6821F-4409-40FD-E053-6B04A8C0C1DF},320000,2019-09-26 00:00,WV6 8UG,D,N,F,15,NaN,YEW TREE LANE,TETTENHALL,WOLVERHAMPTON,WOLVERHAMPTON,WEST MIDLANDS,B,A,15 YEW TREE LANE WV6 8UG
24275999,{93E6821E-0C62-40FD-E053-6B04A8C0C1DF},400000,2019-09-26 00:00,TR13 8GJ,D,N,F,2,NaN,LOWARTH CLOSE,NaN,HELSTON,CORNWALL,CORNWALL,A,A,2 LOWARTH CLOSE TR13 8GJ
24304295,{93E6821E-74F7-40FD-E053-6B04A8C0C1DF},84000,2019-09-26 00:00,BB9 0TS,T,N,F,51,NaN,MANOR STREET,NaN,NELSON,PENDLE,LANCASHIRE,A,A,51 MANOR STREET BB9 0TS

In [7]:
#create new concatenated column with selected address info
#we will use this column to attempt to call google.maps API using geopy
df['Concat_PAON_Street_CityTown_County_Postcode'] = df['PAON'] + " " + df['Street'] + " " +  df['Town_City']+ " " +  df['County']+ " " +  df['Postcode']

#print row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

data row x columns is (12466932, 18)
data row count is 12466932

In [9]:
#print new column with index -first 5 rows only
df.iloc[0:5, 17:18]

                Concat_PAON_Street_CityTown_County_Postcode
24280190  61 WYNGATES LEIGHTON BUZZARD CENTRAL BEDFORDSH...
24535160  69 COPELAND DRIVE POOLE BOURNEMOUTH, CHRISTCHU...
24390776   62 WOODFIELD ROAD NOTTINGHAM DERBYSHIRE NG16 6JS
24425133  21 CHATSWORTH STREET OLDHAM GREATER MANCHESTER...
24286060     46 HERRICK WAY WIGSTON LEICESTERSHIRE LE18 3LR

In [11]:
#remove duplicate addresses (new concat column) but keep first instance
df.drop_duplicates(subset = 'Concat_PAON_Street_CityTown_County_Postcode',keep = 'first',inplace = True)

#print row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

#print first 10 rows as sample
df.head(10)

data row x columns is (12466932, 18)
data row count is 12466932

,Transaction_ID,Price,Transfer_Date,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category,Record_Status,Concat_PAON_Street_Postcode,Concat_PAON_Street_CityTown_County_Postcode
24280190,{93E6821D-ED2E-40FD-E053-6B04A8C0C1DF},230000,2019-09-27 00:00,LU7 2LD,T,N,F,61,NaN,WYNGATES,NaN,LEIGHTON BUZZARD,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,A,61 WYNGATES LU7 2LD,61 WYNGATES LEIGHTON BUZZARD CENTRAL BEDFORDSH...
24535160,{93E6821E-2492-40FD-E053-6B04A8C0C1DF},406000,2019-09-27 00:00,BH14 8NS,T,N,F,69,NaN,COPELAND DRIVE,NaN,POOLE,"BOURNEMOUTH, CHRISTCHURCH AND POOLE","BOURNEMOUTH, CHRISTCHURCH AND POOLE",A,A,69 COPELAND DRIVE BH14 8NS,"69 COPELAND DRIVE POOLE BOURNEMOUTH, CHRISTCHU..."
24390776,{93E6821E-3112-40FD-E053-6B04A8C0C1DF},109950,2019-09-27 00:00,NG16 6JS,T,N,F,62,NaN,WOODFIELD ROAD,PINXTON,NOTTINGHAM,BOLSOVER,DERBYSHIRE,A,A,62 WOODFIELD ROAD NG16 6JS,62 WOODFIELD ROAD NOTTINGHAM DERBYSHIRE NG16 6JS
24425133,{93E6821E-6FE5-40FD-E053-6B04A8C0C1DF},87000,2019-09-27 00:00,OL4 5LF,T,N,L,21,NaN,CHATSWORTH STREET,NaN,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A,21 CHATSWORTH STREET OL4 5LF,21 CHATSWORTH STREET OLDHAM GREATER MANCHESTER...
24286060,{93E6821E-7FDA-40FD-E053-6B04A8C0C1DF},170000,2019-09-27 00:00,LE18 3LR,T,N,F,46,NaN,HERRICK WAY,NaN,WIGSTON,OADBY AND WIGSTON,LEICESTERSHIRE,A,A,46 HERRICK WAY LE18 3LR,46 HERRICK WAY WIGSTON LEICESTERSHIRE LE18 3LR
24301949,{93E6821E-74C1-40FD-E053-6B04A8C0C1DF},117000,2019-09-27 00:00,LA4 6AY,F,N,L,LAKELAND HOUSE,FLAT 31,MARINE ROAD EAST,NaN,MORECAMBE,LANCASTER,LANCASHIRE,A,A,LAKELAND HOUSE MARINE ROAD EAST LA4 6AY,LAKELAND HOUSE MARINE ROAD EAST MORECAMBE LANC...
24611798,{93E6821E-EF01-40FD-E053-6B04A8C0C1DF},125000,2019-09-27 00:00,SA11 3PB,S,N,F,46,NaN,CHESTNUT ROAD,NaN,NEATH,NEATH PORT TALBOT,NEATH PORT TALBOT,A,A,46 CHESTNUT ROAD SA11 3PB,46 CHESTNUT ROAD NEATH NEATH PORT TALBOT SA11 3PB
24543083,{93E6821F-4409-40FD-E053-6B04A8C0C1DF},320000,2019-09-26 00:00,WV6 8UG,D,N,F,15,NaN,YEW TREE LANE,TETTENHALL,WOLVERHAMPTON,WOLVERHAMPTON,WEST MIDLANDS,B,A,15 YEW TREE LANE WV6 8UG,15 YEW TREE LANE WOLVERHAMPTON WEST MIDLANDS W...
24275999,{93E6821E-0C62-40FD-E053-6B04A8C0C1DF},400000,2019-09-26 00:00,TR13 8GJ,D,N,F,2,NaN,LOWARTH CLOSE,NaN,HELSTON,CORNWALL,CORNWALL,A,A,2 LOWARTH CLOSE TR13 8GJ,2 LOWARTH CLOSE HELSTON CORNWALL TR13 8GJ
24304295,{93E6821E-74F7-40FD-E053-6B04A8C0C1DF},84000,2019-09-26 00:00,BB9 0TS,T,N,F,51,NaN,MANOR STREET,NaN,NELSON,PENDLE,LANCASHIRE,A,A,51 MANOR STREET BB9 0TS,51 MANOR STREET NELSON LANCASHIRE BB9 0TS

In [12]:
#drop rows with 'D' at Record_Status                
df = df[df.Record_Status != 'D']

#print first 10 rows as sample
df.head(10)

,Transaction_ID,Price,Transfer_Date,Postcode,Property_Type,Old_New,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD_Category,Record_Status,Concat_PAON_Street_Postcode,Concat_PAON_Street_CityTown_County_Postcode
24280190,{93E6821D-ED2E-40FD-E053-6B04A8C0C1DF},230000,2019-09-27 00:00,LU7 2LD,T,N,F,61,NaN,WYNGATES,NaN,LEIGHTON BUZZARD,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,A,61 WYNGATES LU7 2LD,61 WYNGATES LEIGHTON BUZZARD CENTRAL BEDFORDSH...
24535160,{93E6821E-2492-40FD-E053-6B04A8C0C1DF},406000,2019-09-27 00:00,BH14 8NS,T,N,F,69,NaN,COPELAND DRIVE,NaN,POOLE,"BOURNEMOUTH, CHRISTCHURCH AND POOLE","BOURNEMOUTH, CHRISTCHURCH AND POOLE",A,A,69 COPELAND DRIVE BH14 8NS,"69 COPELAND DRIVE POOLE BOURNEMOUTH, CHRISTCHU..."
24390776,{93E6821E-3112-40FD-E053-6B04A8C0C1DF},109950,2019-09-27 00:00,NG16 6JS,T,N,F,62,NaN,WOODFIELD ROAD,PINXTON,NOTTINGHAM,BOLSOVER,DERBYSHIRE,A,A,62 WOODFIELD ROAD NG16 6JS,62 WOODFIELD ROAD NOTTINGHAM DERBYSHIRE NG16 6JS
24425133,{93E6821E-6FE5-40FD-E053-6B04A8C0C1DF},87000,2019-09-27 00:00,OL4 5LF,T,N,L,21,NaN,CHATSWORTH STREET,NaN,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A,21 CHATSWORTH STREET OL4 5LF,21 CHATSWORTH STREET OLDHAM GREATER MANCHESTER...
24286060,{93E6821E-7FDA-40FD-E053-6B04A8C0C1DF},170000,2019-09-27 00:00,LE18 3LR,T,N,F,46,NaN,HERRICK WAY,NaN,WIGSTON,OADBY AND WIGSTON,LEICESTERSHIRE,A,A,46 HERRICK WAY LE18 3LR,46 HERRICK WAY WIGSTON LEICESTERSHIRE LE18 3LR
24301949,{93E6821E-74C1-40FD-E053-6B04A8C0C1DF},117000,2019-09-27 00:00,LA4 6AY,F,N,L,LAKELAND HOUSE,FLAT 31,MARINE ROAD EAST,NaN,MORECAMBE,LANCASTER,LANCASHIRE,A,A,LAKELAND HOUSE MARINE ROAD EAST LA4 6AY,LAKELAND HOUSE MARINE ROAD EAST MORECAMBE LANC...
24611798,{93E6821E-EF01-40FD-E053-6B04A8C0C1DF},125000,2019-09-27 00:00,SA11 3PB,S,N,F,46,NaN,CHESTNUT ROAD,NaN,NEATH,NEATH PORT TALBOT,NEATH PORT TALBOT,A,A,46 CHESTNUT ROAD SA11 3PB,46 CHESTNUT ROAD NEATH NEATH PORT TALBOT SA11 3PB
24543083,{93E6821F-4409-40FD-E053-6B04A8C0C1DF},320000,2019-09-26 00:00,WV6 8UG,D,N,F,15,NaN,YEW TREE LANE,TETTENHALL,WOLVERHAMPTON,WOLVERHAMPTON,WEST MIDLANDS,B,A,15 YEW TREE LANE WV6 8UG,15 YEW TREE LANE WOLVERHAMPTON WEST MIDLANDS W...
24275999,{93E6821E-0C62-40FD-E053-6B04A8C0C1DF},400000,2019-09-26 00:00,TR13 8GJ,D,N,F,2,NaN,LOWARTH CLOSE,NaN,HELSTON,CORNWALL,CORNWALL,A,A,2 LOWARTH CLOSE TR13 8GJ,2 LOWARTH CLOSE HELSTON CORNWALL TR13 8GJ
24304295,{93E6821E-74F7-40FD-E053-6B04A8C0C1DF},84000,2019-09-26 00:00,BB9 0TS,T,N,F,51,NaN,MANOR STREET,NaN,NELSON,PENDLE,LANCASHIRE,A,A,51 MANOR STREET BB9 0TS,51 MANOR STREET NELSON LANCASHIRE BB9 0TS

In [19]:
#drop columns we won't use
#let's keep our concat address column since we will attempt to pull lat/long with api
df = df.drop(columns=['Transaction_ID',
                 'Duration',
                 'PAON',
                 'SAON',
                 'Street',
                 'Locality',
                 'District',
                 'County',
                 'PPD_Category',
                 'Record_Status',
                 'Concat_PAON_Street_CityTown_County_Postcode',
                ])
                 
#print row length and shape size
print("data row x columns is {}\ndata row count is {}".format(df.shape,len(df.index)))

data row x columns is (12466932, 7)
data row count is 12466932

In [75]:
#create 2 new columns to store lat/long - initalise to null
df['address_lat'] = ""
df['address_long'] = ""

#print first 2 rows to test
df.head(2)

,Price,Transfer_Date,Postcode,Property_Type,Old_New,Town_City,Concat_PAON_Street_Postcode,address_lat,address_long
24280190,230000,2019-09-27 00:00,LU7 2LD,T,N,LEIGHTON BUZZARD,61 WYNGATES LU7 2LD,,
24535160,406000,2019-09-27 00:00,BH14 8NS,T,N,POOLE,69 COPELAND DRIVE BH14 8NS,,

### use Geopy to fetch latitude and longitude geocode

In [ ]:
'''
**Get Lat/Long Data with GeoPy**
---------------------

the code below calls a geopy API using a concatenated column of address values. We use this column as a query key 
to pull back cooresponding lat/long coordinates.
'''

geolocator = Nominatim(user_agent="myApp")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['Concat_PAON_Street_Postcode'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'address_lat'] = location.latitude
        df.loc[i,'address_long'] = location.longitude
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'address_lat'] = ""
        df.loc[i,'address_long'] = ""

#show some shit
df.head(5)

In [ ]:
#write the contents thus far to new csv file
df.to_csv('pp-complete-append-lat-long.csv')

In [ ]:
'''
**Minimize Dataset to BN Codes Only**
---------------------

in the case of deleting non-BN codes to make the file smaller, run the script below on df.
'''
#string to be searched in start of string
search_term = "BN"

#
only_brighton_records = df["Postcode"].str.startswith(search_term, na = False)

#replace df with only brighton records then print a sample (first head(x))
df = df[only_brighton_records]

In [ ]:
#write the contents thus far to new csv file
df.to_csv('pp-complete-append-lat-long-BN-codes-only.csv')